@import "./scss/_reset.scss";
@import "./scss/_vars.scss";
@import "./scss/_design.scss";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");


body {
  position: relative;
  width: 100%;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  background-color: var(--col-pr);
}

.container {
  color: var(--col-white);
  background-color: #3e4451;
  .bg-trans {
    background-color: transparent;
  }
}

.main-title {
  > div {
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: -webkit-gradient(
      linear,
      left top,
      right top,
      from(#fff),
      color-stop(#f7f6fe),
      color-stop(#edeefd),
      color-stop(#e1e7fc),
      color-stop(#d3e0fb),
      color-stop(#c8defc),
      color-stop(#bbddfd),
      color-stop(#addcfc),
      color-stop(#a0dffa),
      color-stop(#95e2f6),
      color-stop(#8ee4ee),
      to(#8be6e4)
    );
    background-image: linear-gradient(
      90deg,
      #fff,
      #f7f6fe,
      #edeefd,
      #e1e7fc,
      #d3e0fb,
      #c8defc,
      #bbddfd,
      #addcfc,
      #a0dffa,
      #95e2f6,
      #8ee4ee,
      #8be6e4
    );
  }
}

.content {
  &-title {
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: -webkit-gradient(
      linear,
      left top,
      right top,
      from(#fff),
      color-stop(#f7f6fe),
      color-stop(#edeefd),
      color-stop(#e1e7fc),
      color-stop(#d3e0fb),
      color-stop(#c8defc),
      color-stop(#bbddfd),
      color-stop(#addcfc),
      color-stop(#a0dffa),
      color-stop(#95e2f6),
      color-stop(#8ee4ee),
      to(#8be6e4)
    );
    background-image: linear-gradient(
      90deg,
      #fff,
      #f7f6fe,
      #edeefd,
      #e1e7fc,
      #d3e0fb,
      #c8defc,
      #bbddfd,
      #addcfc,
      #a0dffa,
      #95e2f6,
      #8ee4ee,
      #8be6e4
    );
  }
}

.content-text {
  @media screen and (min-width: $lap) {
    width: 60%;
  }
}

.code {
  background-color: #212121;
  color: var(--col-white);
  @media screen and (min-width: $lap) {
    width: 70%;
  }
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 150px;
  background-color: var(--col-red);
  border: var(--size-1) solid var(--col-white);
  color: var(--col-white);
  margin-bottom: 10px;
}

.inner {
  min-height: 100px;
  border: var(--size-4) dashed black;
}

.flex-test {
  padding: var(--size-8);
  height: 100px;
  background-color: var(--col-red);
  border: var(--size-1) solid var(--col-white);
  color: var(--col-white);
  margin-bottom: var(--size-12);
}


.example {
  font-size: var(--size-24);
  padding: var(--size-16);
  margin: var(--size-16);
  border-radius: var(--size-16);
}